html {
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    
}
body {
    color: white;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.greycolor {
    color: grey;
}
.small {
    font-size: 1.2rem;
}
.medium {
    font-size: 1.6rem;
}
.large {
    font-size: 1.92rem;
}

.xlarge {
    font-size: 2.6rem;
}
.xxlarge {
    font-size: 3.2rem;
}
.xxxlarge {
    font-size: 5rem;
}
.thin {
    font-weight: 400;
}

.normal {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}

/* home */

.movie-container {
    /* justify-content: center; */
    width: 100%;
    
    background-color: black;
    margin: 4.39rem 0 0 0;
   
}
.movie-container>h2{
    padding: 0 clamp(0px, 4%, 7rem);   
    height: 25%;
    font-size: 1.4vw;
    margin: 0 0 0.6% 0 ;
}

/* .slider{
    transition: all 0.5s;
    width: 100%;
} */






